@import "tailwindcss";

html,
body,
#root {
    min-height: 100%;
    margin: 0;
}

html {
    background: #020617;
    overscroll-behavior-y: none;
}

body {
    background: #020617;
}

.app{
    user-select:none;
    -webkit-user-select: none;
}
.app input, .apptextarea{
    user-select:text;
    -webkit-user-select: text;
}
